:root {
    --primary: saddlebrown;
    --background: #faf8f1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace, sans-serif;
}

a {
    text-decoration: underline dotted;
    color: saddlebrown;
    font-weight: bold;
}

header {
    margin: 20px 0;
}

header h1 {
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    margin: 0 10px;
}

body {
    width: 100%;
    max-width: 1200px;
    margin: 10px auto;
    background-color: var(--background);
}

main {
    padding: 10px;
}

main h1,
h2,
h3,
h4 {
    margin: 10px 0;
}

article {
    border: 2px solid var(--primary);
    padding: 10px;
    margin: 10px 0;
}

footer {
    text-align: center;
}

.not-found {
    text-align: center;
}
