<!doctype html>
<html>
    <link>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ .Site.Title }}</title>
        <link rel="stylesheet" href="/main.css"></link>
    </head>
    <body>
        <header>
            <h1 class="text-center">Ari's Home</h1>
        </header>

        {{ partial "nav" . }}

        <main class="">
            {{ block "main" .}} {{ end }}
        </main>

        {{ partial "footer" . }}
    </body>
</html>
