@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  color-scheme: light dark;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
}

a {
    text-decoration: underline dotted;
    color: saddlebrown;
    font-weight: bold;
}

header {
    margin: 20px 0;
}

header h1 {
    text-align: center;
}
 

nav a {
    margin: 0 10px;
}

body {
    width: 100%;
    max-width: 1200px;
    margin: 10px auto;
    background: white;
    color: black;
}

@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white;
  }
}

main {
    padding: 10px;
}

main h1,
h2,
h3,
h4 {
    margin: 20px 0;
}

article {
    padding: 10px;
    margin: 10px 0;
}

footer {
    text-align: center;
}

img {
    max-width: 100%;
}

table tr {
    overflow-wrap: anywhere;
}

pre {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    color: #FFBF00;
    background: #272727;    
    overflow: scroll;
}

.not-found {
    text-align: center;
}